@media screen and (min-width: 1750px) {
  .gd-xl-col-7 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 58.3333%;
  }

  .gd-xl-col-5 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 41.6667%;
  }
}
